/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body,
html {
    margin: 0;
    padding: 0;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    background-color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #464648;
}

.section {
    max-width: 800px;
    margin: 0 auto;
    padding: 35px;
}

* {
    box-sizing: border-box;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    padding: 10px;
    display: none;
}

.menu-button img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.nav-header {
    background: #fff;
    /*box-shadow:inset 0 10px 15px -5px rgba(0,0,0,0.5); */
    padding: 15px;
    /*  position: fixed; */
    width: 100%;
    position: relative;
    /* box-shadow: inset  -9px 0 14px 13px rgba(0, 0, 0.5, 0); */
}

.header-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo-link {
    display: block;
    width: 280px;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
}

@media screen and (min-width: 1200px) {
    .logo {
        background-image: url('Yunel-Logo-forWebpage.svg');
    }
}

.logo-social {
    max-width: 100%;
    max-height: 100%;
}

.logo-social1 {
    margin-top: 5px;
}

.nav {}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.menu-item {
    float: left;
    margin-right: 20px;
    font-size: 10px;
}

.item-link {
    color: #009da0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
}

.social-media {
    position: absolute;
    top: 0;
    right: 20px;
    list-style: none;
}

.social-item {
    float: left;
    text-decoration: none;
    display: block;
    margin-left: 10px;
}

.social-item-link {
    display: block;
    width: 27px;
}

.social-item-link > img {
    max-width: 100%;
    max-height: 100%;
}

.icons {
    font-size: 20px;
}

.section1 {
    background: url("../background-image.jpg") center center no-repeat;
    background-size: cover;
    padding: 30px;
    box-shadow: inset 0 14px 13px -9px rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    margin-top: 110px;
}

.bold {
    font-weight: bold;
}

.parag1 {
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 16px;
}


/*.line-height {
    line-height: 0.5; */

.whitedot {
    color: white;
    text-align: center;
    font-size: 10px;
    margin-top: 30px;
}

.bluedot {
    color: #009da0;
    margin-bottom: 0;
    font-size: 10px;
}

.discoveryunel {
    float: left;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 20px;
    width: 30%;
    height: 30%;
    padding-bottom: 100px;
}

.parag2 {
    text-align: left;
    color: white;
    font-size: 24px;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 34px;
}

.bluehead {
    color: #009da0;
}

.whitebackground {
    background-color: white;
    padding: 15px;
    text-align: center;
    box-shadow: inset 0 14px 13px -9px rgba(0, 0, 0, 0.5);
}

.alignright {
    text-align: right;
    margin-top: 0;
}

.bluebackground {
    background-color: #009da0;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: inset 0 14px 13px -9px rgba(0, 0, 0, 0.5);
}

.profilepicture {
    max-width: 100%;
    margin-left: 10px;
    margin-top: 8px;
}

.signet {
    height: 40px;
    width: 40px;
}

.newsletter-form {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.button {
    background-color: #fff;
    color: #009da0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
    border: 0;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: #009da0;
    color: #fff;
}

.required-email {
    color: #464648;
    background-color: #fff;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    border: 0;
    border-radius: 0;
    display: block;
    padding: 0 100px 0 10px;
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: inset 0 14px 13px -9px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.footer p {
    margin: 0;
}

.divider {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

.blue .divider-logo {
    background: url(../Yunel-LoneSignet-outline-blue.svg) center center no-repeat;
    background-size: contain;
}

.divider.blue:before,
.divider.blue:after {
    background: url(../dot-blue.png) repeat-x;
}

.divider-logo {
    background: url(../Yunel-LoneSignet-outline.svg) center center no-repeat;
    width: 50px;
    height: 50px;
    background-size: contain;
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.divider:before,
.divider:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    width: calc(50% - 30px);
    height: 2px;
    background: url(../dot.png) repeat-x;
}

.divider:before {
    left: 0;
}

.divider:after {
    right: 0;
}

.columns {
    margin-top: 50px;
}

.image-holder {
    text-align: right;
    padding-left: 10%;
    padding-top: 5px;
}

.image-holder img {
    max-width: 100%;
}

.column-left {
    width: 40%;
    float: left;
}

.column-right {
    float: left;
    width: 60%;
    padding-left: 20px;
}

.text-columns {}

.left-col {
    float: left;
    width: 65%;
}

.right-col {
    float: left;
    width: 35%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="column-"] {
        width: 100%;
    }
    .nav-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    .logo-link {
        width: 150px;
    }
    .section1 {
        padding-top: 100px;
        margin-top: 65px;
    }
    .menu-button {
        display: block;
    }
    .nav {
        position: fixed;
        top: 65px;
        right: 0;
        display: none;
        background: #fff;
    }
    .nav.shown {
        display: block;
        box-shadow: -8px 10px 30px -12px rgba(0, 0, 0, 0.5);
    }
    .nav-menu {
        float: none;
        display: block;
        padding: 10px 20px;
    }
    .menu-item {
        float: none;
        padding: 10px 0;
    }
    .item-link {
        font-size: 14px;
    }
    .social-media {
        margin: 0;
        right: 60px;
        top: 15px;
    }
    .parag2 {
        text-align: center;
        padding-top: 20px;
        padding-right: 30px;
    }
    .image-holder {
        padding-right: 38px;
    }
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
